<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=musicDB;User ID=sa;Password=sa1" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DatabaseServer" value="."/>
    <add key="Database" value="musicDB"/>
    <add key="UserId" value="sa"/>
    <add key="Password" value="sa1"/>
    <add key="integrated security" value="true"/>
  </appSettings>

  <system.web>
    <httpRuntime
executionTimeout="90"
maxRequestLength="16384 "
useFullyQualifiedRedirectUrl="false"
minFreeThreads="8"
minLocalRequestFreeThreads="4"
appRequestQueueLimit="100"
enableVersionHeader="true"
/>

    <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
